openapi: 3.0.3
info:
  title: ai operate - OpenAPI 3.0
  description: |-
    This is ai operate OpenAPI.
  version: 1.0.0
servers:
  - url: http://127.0.0.1:30110
    description: 本机调试环境
tags:
  - name: HealthCheck
  - name: Login
  - name: Session
  - name: User
  - name: Embedding
  - name: File
  - name: Knowledge
  - name: QaTemplate
  - name: MCP
paths:
  # HealthCheck API
  /v1/api/jrag/health-check:
    get:
      tags:
        - HealthCheck
      summary: do health check.
      description: do health check.
      operationId: checkHealth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Internal Server Error
  /v1/auth/jrag/login:
    post:
      tags: [ Login ]
      summary: do login.
      description: do login.
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: './openapi-model.yaml#/components/schemas/LoginRequestDto'
      responses:
        '200':
          description: OK
  /v1/auth/jrag/logout:
    get:
      tags: [ Login ]
      summary: do logout.
      description: do logout.
      operationId: logout
      responses:
        '200':
          description: OK
  /v1/rest/jrag/session:
    get:
      tags: [ Session ]
      summary: 获取当前会话信息
      description: 获取当前会话信息
      operationId: getSessionInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/SessionInfoDto'
  /v1/rest/jrag/users:
    get:
      tags: [ User ]
      summary: 获取用户列表
      description: 获取用户列表
      operationId: getUserList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/UserListDto'
    post:
      tags: [ User ]
      summary: 创建用户
      description: 创建用户
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './openapi-model.yaml#/components/schemas/UserCreateRequestDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/UserDto'
    delete:
      tags: [ User ]
      summary: 删除用户
      description: 删除用户
      operationId: deleteUser
      parameters:
        - in: query
          name: user-id
          schema:
            type: string
          required: true
          description: 用户ID
      responses:
        '200':
          description: OK
  /v1/rest/jrag/users/role:
    put:
      tags: [ User ]
      summary: 修改用户角色
      description: 修改用户角色
      operationId: updateUserRole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './openapi-model.yaml#/components/schemas/UserRoleUpdateRequestDto'
      responses:
        '200':
          description: OK
  /v1/rest/jrag/users/password:
    put:
      tags: [ User ]
      summary: 修改用户密码
      description: 修改用户密码
      operationId: updateUserPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './openapi-model.yaml#/components/schemas/UserPasswordUpdateRequestDto'
      responses:
        '200':
          description: OK
  /v1/auth/jrag/captcha/slide:
    get:
      operationId: getSlideCaptcha
      tags: [ Login ]
      summary: 滑动验证码
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/SlideCaptchaResp'
  /v1/auth/jrag/captcha/slide/validate:
    post:
      operationId: verifySlideCaptcha
      tags: [ Login ]
      summary: 验证滑动验证码并得到经典验证码的值
      requestBody:
        content:
          application/json:
            schema:
              $ref: './openapi-model.yaml#/components/schemas/ValidateCaptchaDto'
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    description: 验证结果
                  code:
                    type: string
                    description: 验证码
  /v1/api/jrag/embed:
    post:
      tags:
        - Embedding
      summary: do embedding.
      description: do embedding.
      operationId: embed
      requestBody:
        content:
          application/json:
            schema:
              $ref: './openapi-model.yaml#/components/schemas/EmbeddingsRequestDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/EmbeddingsResponseDto'
  /v1/rest/jrag/file:
    post:
      tags: [ File ]
      summary: 上传文件
      description: 上传文件
      operationId: uploadFIle
      requestBody:
        description: 上传的文件
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/FileDto'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "500":
          description: Internal Server
    put:
      tags: [ File ]
      summary: 替换指定ID的文件
      description: 替换指定ID的文件
      operationId: putFile
      requestBody:
        description: 上传的文件
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 文件ID
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/FileDto'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "500":
          description: Internal Server
    delete:
      tags: [ File ]
      summary: 删除指定ID的文件
      description: 删除指定ID的文件
      operationId: deleteFile
      parameters:
        - in: query
          name: file-id
          schema:
            type: array
            items:
              type: integer
              description: 文件ID
      responses:
        "200":
          description: Successful operation
  /v1/rest/jrag/file/{file-id}:
    get:
      tags: [ File ]
      operationId: getFile
      parameters:
        - in: path
          name: file-id
          schema:
            type: integer
          required: true
      responses:
        200:
          description: ok
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        404:
          description: not found
  /v1/rest/jrag/knowledge:
    get:
      tags: [ Knowledge ]
      summary: 查询知识数据
      description: 查询知识数据
      operationId: getKnowledge
      parameters:
        - name: offset
          in: query
          description: 偏移量
          required: true
          schema:
            type: integer
        - name: limit
          in: query
          description: 获取数量
          required: true
          schema:
            type: integer
        - name: search
          in: query
          description: 搜索文本（嵌入文本值、文本块）
          schema:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/KnowledgeGetListDto'
    put:
      tags: [ Knowledge ]
      summary: 覆盖知识数据
      description: 覆盖知识数据
      operationId: putKnowledge
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: './openapi-model.yaml#/components/schemas/KnowledgeAddDto'
      responses:
        "200":
          description: ok
  /v1/rest/jrag/knowledge/delete:
    post:
      tags: [ Knowledge ]
      summary: 删除知识数据
      description: 删除知识数据
      operationId: deleteKnowledge
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                description: 文本块ID
      responses:
        "200":
          description: ok
  /v1/rest/jrag/knowledge/retrieve:
    get:
      tags: [ Knowledge ]
      summary: 搜索知识
      description: 搜索知识
      operationId: retrieveKnowledge
      parameters:
        - in: query
          name: query-text
          schema:
            type: string
            description: 查询文本
        - in: query
          name: top-k
          schema:
            type: integer
            description: 搜索数量
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/KnowledgeRetrieveResponseDto'
  /v1/rest/jrag/knowledge/json-template:
    post:
      tags: [ Knowledge ]
      summary: 通过json模版文件导入知识
      description: 通过json模版文件导入知识
      operationId: importKnowledgeByJson
      requestBody:
        description: json模版文件
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                jsonTemplate:
                  type: string
                  format: binary
      responses:
        '200':
          description: Successful operation
    get:
      tags: [ Knowledge ]
      summary: 获取新增知识json模板
      description: 获取新增知识json模板
      operationId: getJsonTemplate
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v1/rest/jrag/property/get:
    post:
      tags: [ Property ]
      summary: 获取属性
      description: 获取属性
      operationId: getProperty
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
  /v1/rest/jrag/property:
    put:
      tags: [ Property ]
      summary: 覆盖属性
      description: 覆盖属性
      operationId: putProperty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: './openapi-model.yaml#/components/schemas/PropertyDto'
      responses:
        '200':
          description: OK
  /v1/rest/jrag/mcp/config:
    get:
      tags: [ MCP ]
      summary: 获取 MCP 配置
      description: 获取 MCP 配置
      operationId: getMcpConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    put:
      tags: [ MCP ]
      summary: 保存 MCP 配置
      description: 保存 MCP 配置
      operationId: updateMcpConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
  /v1/rest/jrag/mcp/status:
    get:
      tags: [ MCP ]
      summary: 获取 MCP 服务器状态
      description: 获取 MCP 服务器状态与接口
      operationId: getMcpStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './openapi-model.yaml#/components/schemas/McpStatusItem'
  /v1/rest/jrag/knowledge/markdown:
    post:
      tags: [ MarkdownProcessor ]
      summary: 上传Markdown文件或文件包
      description: 上传Markdown文件或文件包，包含Markdown文件、图片，支持后缀：md/zip/tar.gz/tar
      operationId: uploadMarkdown
      requestBody:
        description: 上传的文件
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: ok
  /v1/rest/jrag/qa-template:
    get:
      tags: [ QaTemplate ]
      summary: 获取问题模板
      description: 获取问题模板
      operationId: getQaTemplate
      parameters:
        - name: limit
          in: query
          description: 数量
          required: true
          schema:
            default: 6
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/QaTemplateList'
  /v1/rest/jrag/context/id:
    get:
      tags:
        - Chat
      summary: get a new context id
      description: get a new context id
      operationId: getNewContextId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/ContextIdDto'
  /v1/rest/jrag/context/list:
    get:
      tags:
        - Chat
      summary: 获取历史对话列表
      description: 获取历史对话列表
      operationId: getHistoryContextList
      parameters:
        - name: offset
          in: query
          description: offset
          required: false
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/HistoryContextList'
  /v1/rest/jrag/context:
    get:
      tags:
        - Chat
      summary: 获取历史对话
      description: 获取历史对话
      operationId: getHistoryContext
      parameters:
        - name: context-id
          in: query
          description: context-id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/ChatContextDto'
    delete:
      tags: [ Chat ]
      summary: 删除历史对话
      description: 删除历史对话
      operationId: deleteHistoryContext
      parameters:
        - name: context-id
          in: query
          description: context-id
          required: true
          schema:
            type: array
            items:
              type:
                string
      responses:
        '200':
          description:
            删除成功
  /v1/rest/jrag/context/message/feedback:
    post:
      tags: [ Chat ]
      summary: 添加消息反馈
      description: 添加消息反馈
      operationId: addMessageFeedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './openapi-model.yaml#/components/schemas/MessageFeedbackRequest'
      responses:
        '200':
          description: 添加成功
  /v1/rest/jrag/api/check:
    get:
      tags:
        - AiApi
      summary: 检查服务api是否可用
      description: 检查服务api是否可用
      operationId: checkApi
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './openapi-model.yaml#/components/schemas/CheckApiResponse'

components:
  schemas:
    ErrorResponseDto:
      type: object
      properties:
        message:
          type: string
    RagInfoDto:
      $ref: './openapi-model.yaml#/components/schemas/RagInfoDto'
    Message:
      $ref: './openapi-model.yaml#/components/schemas/MessageDto'
    ChatRequestDto:
      $ref: './openapi-model.yaml#/components/schemas/ChatRequestDto'
    ChatResponseDto:
      $ref: './openapi-model.yaml#/components/schemas/ChatResponseDto'
