services:
  init-config:
    image: init:${TAG:-latest}
    entrypoint: [ "/bin/bash", "-c" ]
    pull_policy: build
    build:
      context: ..
      dockerfile: docker/init/Dockerfile
    command:
      - |
        tr -d '\r' < /init/init-config.sh > /tmp/init-script.sh
        chmod +x /tmp/init-script.sh
        /bin/bash /tmp/init-script.sh
    environment:
      JRAG_BASE_DIR: /root/jrag
    volumes:
      - ${JRAG_BASE_PATH}:/root/jrag
    restart: "no"

  milvus:
    image: milvusdb/milvus:v2.6.9
    entrypoint: [ "/bin/bash", "-c" ]
    command:
      - |
        cp /milvus/external_configs/user.yaml /milvus/configs/user.yaml
        milvus run standalone
    depends_on:
      init-config:
        condition: service_completed_successfully
    security_opt:
      - seccomp:unconfined
    environment:
      ETCD_USE_EMBED: "true"
      ETCD_DATA_DIR: /var/lib/milvus/etcd
      ETCD_CONFIG_PATH: /milvus/external_configs/embedEtcd.yaml
      COMMON_STORAGETYPE: local
      DEPLOY_MODE: STANDALONE
    ports:
      - "19530:19530"
      - "9091:9091"
      - "2379:2379"
    volumes:
      - ${JRAG_BASE_PATH}${DIR_PATH_SEPARATOR}milvus${DIR_PATH_SEPARATOR}volumes${DIR_PATH_SEPARATOR}milvus:/var/lib/milvus
      - ${JRAG_BASE_PATH}${DIR_PATH_SEPARATOR}milvus:/milvus/external_configs
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:9091/healthz" ]
      interval: 30s
      start_period: 90s
      timeout: 20s
      retries: 3

  jrag:
    image: jrag:${TAG:-latest}
    pull_policy: build
    build:
      context: ..
      dockerfile: docker/jrag/Dockerfile
    depends_on:
      init-config:
        condition: service_completed_successfully
      milvus:
        condition: service_started
    ports:
      - "30110:30110"
    environment:
      JRAG_BASE_DIR: /root/jrag
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ${JRAG_BASE_PATH}${DIR_PATH_SEPARATOR}config${DIR_PATH_SEPARATOR}application.yaml:/opt/jrag/classes/application.yaml
      - ${JRAG_BASE_PATH}${DIR_PATH_SEPARATOR}config${DIR_PATH_SEPARATOR}application-mysql.yaml:/opt/jrag/classes/application-mysql.yaml
      - ${JRAG_BASE_PATH}${DIR_PATH_SEPARATOR}config${DIR_PATH_SEPARATOR}application-product.yaml:/opt/jrag/classes/application-product.yaml
      - ${JRAG_BASE_PATH}${DIR_PATH_SEPARATOR}config${DIR_PATH_SEPARATOR}application-sqlite.yaml:/opt/jrag/classes/application-sqlite.yaml
      - ${JRAG_BASE_PATH}${DIR_PATH_SEPARATOR}config${DIR_PATH_SEPARATOR}qa-template.json:/opt/jrag/classes/qa-template.json
      - ${JRAG_BASE_PATH}${DIR_PATH_SEPARATOR}config${DIR_PATH_SEPARATOR}system_prompt.txt:/opt/jrag/classes/system_prompt.txt
      - ${JRAG_BASE_PATH}${DIR_PATH_SEPARATOR}logs:/opt/jrag/logs
      - ${JRAG_BASE_PATH}:/root/jrag

